# Enviroment variabels
*.env

# Monitor configurations (Hardware-specific)
common/.config/monitors.xml
common/.config/monitors.xml~

# github cli
common/.config/gh/hosts.yml

# GTK files
common/.config/.gsd-keyboard.settings-ported
common/.config/background
common/.config/gnome-initial-setup-done
common/.config/user-dirs.dirs
common/.config/user-dirs.locale

#‌ Nvim 
common/.config/nvim/lazy-lock.json

# Config Temprory
common/.config/menus/
common/.config/totem/
common/.config/nekoray/
common/.config/google-chrome/
common/.config/awesome/theme/
common/.config/act/
common/.config/libfm/
common/.config/obs-studio/
common/.config/pcmanfm/
common/.config/QtProject.conf
common/.config/dconf/
common/.config/kicad/
common/.config/evolution/
common/.config/gtk-3.0/
common/.config/ibus/
common/.config/kdeconnect/
common/.config/pulse/
common/.config/systemd/
common/.config/syncthing/
common/.config/enchant/
