common/.config/google-chrome/
common/.config/awesome/theme/
common/.config/gh/
common/.config/act/
common/.config/libfm/
common/.config/obs-studio/
common/.config/pcmanfm/
common/.config/QtProject.conf
common/.config/dconf/
common/.config/nvim/lazy-lock.json
